/* th {
  color: #f26925;
} */
thead{
  background-color: rgba(242, 105, 38);
}

.shadow {
  box-shadow: 2px 5px 5px black;
}

.associate-table {
  border: 1px solid #eeccee;
  max-height: 350px;
  overflow-y: scroll;
  width: 100%;
}
.batches-in-progress-table-container {
  height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.batches-in-progress-table.sticky th {
  position: sticky;
  top: 0;  
  background-color: rgba(242, 105, 38);
  transform: scale(1.04);
  font-weight: 100;
}