.overview-nav {
  color: #fff;
  background-color: #474c55;
}

.overview-table {
  border: 1px solid #eeccee;
  max-height: 250px;
  overflow-y: scroll;
  width: 100%;
  /* background-color: black; */
}
.overview-option {
  height: 275px;
  background-color: #c0c0c0;
  text-align: center;
}



/*///////////////////// GENERATE BATCH CONTAINER /////////////////////*/

.generate-batch-container {
  background-color:rgb(240, 240, 240);
  padding: 15px;
  box-shadow: 0px 0px 10px rgb(87, 87, 87);
}

/*///////////////////// GENERATE BATCH CONTAINER - NAV BAR /////////////////////*/

/* When link is clicked will set element to active and take this color */
#generate-new-batch-active {
  color: rgba(242, 105, 38);
}

.generate-batch-nav-link {
  margin-right: 20px;
   transition: all 0.3s;
}

.generate-batch-nav-link:hover {
 color: rgb(187, 187, 187);
 cursor: pointer; 
}


/*/////// GENERATE NEW BATCH ////////*/
/*///////////////////// GENERATE BATCH CONTAINER - LABELS AND INPUTS /////////////////////*/

.generate-new-batch-label {
  margin-bottom: 0;
  font-weight: 600;  
}

.generate-new-batch-input {
  margin-bottom: 10px;
}

/*///////////////////// GENERATE BATCH CONTAINER - OPTIONAL /////////////////////*/
.generate-new-batch-optional-container {
  background-color: rgba(165, 165, 165, 0.267);
  margin-top: 10px;
  padding: 10px;
}

.optional-title {
  border-bottom: 2px solid rgb(146, 146, 146);
  max-width: 90%;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 600;
  padding: 10px;
}

/*///////////////////// GENERATE BATCH CONTAINER - ADD TRAINERS /////////////////////*/
.btn-add-trainer {
  margin-left: 5px;
}

.added-trainers-box {
  background-color: #fff;
  height: 150px;
  border: solid 1px #000;
  padding: 10px;
  margin-top: 5px;
}

.added-trainers-box p {
  line-height: 10px;
}

.added-trainers-box p:hover {
  font-weight: 600;
  cursor: pointer;
}

/*///////////////////// GENERATE BATCH CONTAINER - ADD ASSOCIATES /////////////////////*/
.added-associates-box {
  background-color: #fff;
  height: 150px;
  border: solid 1px #000;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 5px;
  overflow: scroll;
}

.added-associates-box p {
  line-height: 10px;
}

.associates-list {
  margin-bottom: -10px;
}

/*////////////////// DROPDOWNS ///////////////*/
#dropdown-skills{
  width: 100%;
}

#dropdown-location{
  width: 100%;
}

/* Trainers dropdown */
#changeValues1{
  width: 79%;
}

/*////////////// FINILIZE BATCH ////////////*/

/*//////////////////// FINILIZE BATCH - BUTTONS //////////////////*/

.finilize-batch-delete {
  float: left;
}

.finilize-batch-update {
  display: block;
  margin: auto;
}

.finilize-batch-confirm {
  float: right;
}

.finilize-batch-table-header th {
  color: #fff;
  font-weight: 300;
}

.finilize-batch-table-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  padding-top: -5;
}

.finilize-batch-table.sticky th {
position: sticky;
top: 0;
background-color: rgba(242, 105, 38);
transform: scale(1.03);
}

